<div class="container"> 
    <h1 class="text-center">
        {{titulo}}
    </h1>
    <form>
        <div class ="form-group">
            <label>
                Número:
            </label>
            <input type="number" class="form-control"
            placeholder="ingresa un número"
            name="numero"
            [(ngModel)]="numero" (input)="calcular()"/>
        </div>
        <div class="mb-3"></div>
        <button type="submit" class="btn btn-outline btn-primary"
        style="margin-right: 2rem;"
        ((click))="calcular()"
        >
            Calcular conversiones
        </button>
    </form>
    <div class="mt-3">
        <p>
            El resultado en grados Fahrenheit es: {{resultadosFarenheit}}
        </p>
        <p>
            El resultado en grados Kelvin es :{{resultadosKelvin}}
        </p>
    </div>
</div>
